<!DOCTYPE html>
<html>
<head>
    <title>Student Performance Predictor</title>
</head>
<body>

    <h1>Student Performance Predictor</h1>

    <form method="POST">

        <label>Study Hours:</label><br>
        <input type="number" name="studyhours" required><br><br>

        <label>Attendance (%):</label><br>
        <input type="number" name="attendance" required><br><br>

        <button type="submit">Predict</button>
        {% if prediction %}
    <h2>Prediction: {{ prediction }}</h2>
        {% endif %}

    </form>

    <h2>{{ prediction }}</h2>

</body>
</html>